#nav-bar
{
	position:sticky;
	top:0;
	z-index: 10;

}
.navbar-brand img
{
height:40px;
padding-left:30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color:#007bff!important;
}
.navbar{
	background:#fff;
}
.navbar-toggler
{
	border:none!important;
}
.nav-link
{
	color:#555!important;
	font-weight:600;
	font-size: 16px;
}
/*---------slider------------*/
#slider
{
   width:100%;
}
.carousel-caption
{
	top:50%;
	transform:translateY(-50%);
	bottom:initial!important;
}
.carousel-caption h5 
{
	color:#fff;
	font-size:42px;
}
/*---------------about--------*/
#about
{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
}
h1
{
	text-align:center;
	color:#555 !important;
	padding-bottom: 10px;
}
h1::after
{
content:'';
background:#007bff;
display: block;
height:3px;
width:170px;
margin:20px auto 5px;
}
#about
{
	padding-top:50px;
	padding-bottom:50px;
	color:#17202A;
	
}
#about .btn
{
margin-top:20px;
margin-bottom:30px;
}
.about-content
{
	padding-top:30px;
}
/*-----------------Team Players-----------*/
#team
{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
	background-color: #F2F3F4 
}
h1
{
	text-align:center;
	color:#555 !important;
	padding-bottom: 10px;
}
h1::after
{
content:'';
background:#007bff;
display: block;
height:3px;
width:170px;
margin:20px auto 5px;
}
.profile-pic
{
	margin-top:25px;
}
.profile-pic
{
	margin-top:25px;
}
.profile-pic .img-box
{
	opacity:1;
	display:block;
	position: relative;
}
.profile-pic h2
{
	font-size:22px;
	font-weight: bold;
	margin-top:15px;
	align-content: center;
	color:#007bff !important;
}
.profile-pic h3
{
	font-size:15px;
	font-weight: bold;
	margin-top:15px;
	align-content: center;
}
#team .fa
{
  height:25px;
  width:25px;
  color:#007bff !important;
  background:#fff;
  padding: 4px;
  border-radius: 50%;
}
.img-box ul
{
	padding:15px 0;
	position:absolute;
	z-index:2;
	bottom: 0;
	left: 50%;
	transform:translateX(-50%);
	opacity:0;

}
.img-box ul li
{
	padding:5px;
	display:inline-block;
}
.img-box:hover ul
{
	opacity:1;
}
.img-box ul, .img-box ul li 
{
	transition:0.5s;
}

.other-team h3
{
	font-size:26px;
	font-weight: bold;
	color:#007bff;
}
/*-------------------Socail-----------*/
#Social
{
	padding-top:50px;
	padding-bottom:50px;
	color:#17202A;
	
}

h1
{
	text-align:center;
	color:#555 !important;
	padding-bottom: 10px;
}
h1::after
{
content:'';
background:#007bff;
display: block;
height:3px;
width:170px;
margin:20px auto 5px;
}

li
{
	display:inline-block;
}
.social-button
{
	width:300px;
	padding:10px;
	letter-spacing: 1px;
	margin:10px;
}
.facebook
{
	background-color: #3B5998;

}
.twitter
{
	background-color: #55acee;
}
.youtube
{
	background-color: #E74C3C;
}
.instagram
{
	background-color:#BB8FCE;
}
.Linked-in
{
	background-color:#85C1E9;
}
a
{
	text-decoration: none;
    color:white !important ;
}
.social-text
{
	width:150px;
	border-left: 1px solid rgba(255,255,255,0.5);
	border-left:1px solid rgba(255,255,255,0.5);
	padding-left: 10px;
}
.right-text
{
	padding-left:10px;
	font-size:12px;
}

/*-- Location -- */
#location
{
	padding-top:40px;
	padding-bottom:40px;
	color:#555;
	
}

/*--------Feedback---------*/
#contact
{

	
	padding-top: 40px;
	padding-bottom: 40px;
	color:#777;
	background-color: #F2F3F4 ;
}
.contact-form
{
	text-align: center;
}
/*----------Articles-------------------*/
#Article
{
	padding-top:50px;
	padding-bottom:50px;
	padding-right:300px ;
	padding-left:300px;
	color:#17202A;
	background-color: #F2F3F4 

}
 
a{
	color:black;
}







